<p>Are you sure you want to delete the "{{task_name}}"?</p>

<a href="{% url 'all_tasks' %}"> Cancel</a>
<form method="POST" action="">
    {% csrf_token %}
    <button type="submit" name="Confirm">Confirm</button>
</form>