<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body  style="font-weight:normal !important">
    <p>Hi,</p>
    <div style="margin-left: 20px;">
    <H4>{{line}}</h4>
    <p>Task Name : <b>{{content}}</b></p>
</div>
    <br>
    <p>Thanks</p>
    <b>TodoApp</b>
</body>
</html>