<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
	body{
		background-color: #638CB8;
	}
	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}
	input::placeholder {
	  color: #d3d3d3;
	}
	.submit{
		background-color: #6BA3E8;
	}
	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}
	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
</style>

<div class="center-column">
    <h3 class="text-center"> TodoApp</h3>

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <button type="submit" class="btn btn-info"><i class="fa fa-plus mr-1"></i>Create Task</button>
</form>

{% for task in tasks %}
<div class="item-row">
    
    <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}"><i class="fas fa-edit mr-1"></i>Update</a>
    <a class="btn btn-sm btn-danger"  href="{% url 'delete_task' task.id %}"  data-toggle="modal" data-target="#deleteTask{{task.id}}"><i class="fas fa-trash mr-1"></i>Delete</a>
    <!-- <a class="btn btn-sm btn-danger"   data-toggle="modal" data-target="#deleteTask{{task.id}}"><i class="fas fa-trash mr-1"></i>Delete</a> -->
    <!-- Button trigger modal -->


    {% if task.completed == True %}
    <p class="d-inline"><strike>{{task}}</strike></p>
    {% else %}
    <p class="d-inline">{{task}}</p>
    {% endif %}
</div>
<div class="modal fade" id="deleteTask{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteTask{{task.id}}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTask{{task.id}}Label">Delete {{task}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete the task?
        </div>
        <div class="modal-footer">
           
<form method="POST" action="{% url 'delete_task' task.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-info" name="Confirm">Confirm</button>
</form>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>

{% endfor %}
</div>

