<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
	body{
		background-color: #638CB8;
	}
	input[type=text]{
		width: 70%;
		padding: 5px;
		margin: 8px 0 8px 10%;
		box-sizing: border-box;
	}
    input[type=checkbox]{
		margin-left: 10px;
		box-sizing: border-box;
        width: 20px; 
            height: 20px; 
	}
	input::placeholder {
	  color: #d3d3d3;
	}
	.submit{
		background-color: #6BA3E8;
	}
	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}
	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
</style>
<div class="center-column">
    <h3 class="text-center"> Update Task</h3>
<form method="POST" action="">
    {% csrf_token %}
    {{form}}
    <br>
    <div class="d-flex justify-content-end">
      
    <button type="submit" class="btn btn-info m-1 " name="Update Task">Update Task</button>
    <a class="btn btn-light m-1 " href="{% url 'all_tasks' %}"> Back</a>
    </div>
</form>
</div>